# molecule > 3.0.8 https://github.com/ansible-community/molecule/issues/2895
# ansible version locked down for ansible tower
ansible-lint
ansible-vagrant
ansible==2.9.15
docker
molecule==3.0.8
molecule-docker
yamllint
