---
# defaults file for io500

io500_tools_dir: /usr/local/tools

# cmake
io500_cmake_version: 3.24.2
io500_cmake_installer_script: "cmake-{{ io500_cmake_version }}-linux-x86_64.sh"
io500_cmake_installer_url: "https://github.com/Kitware/CMake/releases/download/v{{ io500_cmake_version }}/{{ io500_cmake_installer_script }}"

# # mpifileutils
# io500_mfu_root_dir: /usr/local/mpifileutils
# io500_mfu_deps_dir: "{{ io500_mfu_root_dir }}/deps"
# io500_mfu_src_dir: "{{ io500_mfu_root_dir }}/src"
# io500_mfu_build_dir: "{{ io500_mfu_root_dir }}/build"
# io500_mfu_install_dir: "{{ io500_mfu_root_dir }}/install"

# libcircle
io500_libcircle_src_url: https://github.com/hpc/libcircle/releases/download/v0.3/libcircle-0.3.0.tar.gz
io500_libcircle_dir: "{{ io500_mfu_deps_dir }}/{{ io500_libcircle_src_url | basename | regex_replace('.tar.gz', '') }}"

# lwgrp
io500_lwgrp_src_url: https://github.com/llnl/lwgrp/releases/download/v1.0.2/lwgrp-1.0.2.tar.gz
io500_lwgrp_dir: "{{ io500_mfu_deps_dir }}/{{ io500_lwgrp_src_url | basename | regex_replace('.tar.gz', '') }}"

# dtcmp
io500_dtcmp_src_url: https://github.com/llnl/dtcmp/releases/download/v1.1.0/dtcmp-1.1.0.tar.gz
io500_dtcmp_dir: "{{ io500_mfu_deps_dir }}/{{ io500_dtcmp_src_url | basename | regex_replace('.tar.gz', '') }}"

# # mpifileutils
# io500_mpifileutils_repo_url: https://github.com/hpc/mpifileutils.git
# io500_mpifileutils_src_dir: "{{ io500_mfu_src_dir }}/mpifileutils"
