---
#
# RedHat based distro specific tasks for the reboot role
# Tasks to determine the need to reboot
#

- name: RedHat family specific check to determine if reboot is required
  when:
    - ansible_connection != "docker"
    - ansible_connection != "container"
    - ansible_connection != "podman"
  tags:
    - reboot
  block:
    - name: Check for needs-restarting executable
      ansible.builtin.stat:
        path: /usr/bin/needs-restarting
      register: reboot_rhel_needs_restarting_executable

    - name: Determine if a reboot is required
      ansible.builtin.command: needs-restarting -r
      check_mode: false
      register: reboot_rhel_needsrestarting
      changed_when: reboot_rhel_needsrestarting.rc == 1
      failed_when: reboot_rhel_needsrestarting.rc not in [ 0, 1 ]
      when: reboot_rhel_needs_restarting_executable.stat.exists

    - name: Set reboot flag if a reboot is required
      ansible.builtin.set_fact:
        reboot_do_reboot: true
        cacheable: false
      when: reboot_rhel_needsrestarting.changed
