#!/usr/bin/env python3
# {{ ansible_managed | comment }}
# Ansible facts for daos
#

import configparser
import sys
import os
import subprocess
import json

def run_command(cmd):
    stdout = subprocess.Popen(cmd,
                              shell=True,
                              stdout=subprocess.PIPE).communicate()[0].decode('utf-8').strip()
    return stdout

def iommu_enabled():
    with open('/proc/cmdline') as f:
        if 'intel_iommu=on' in f.read():
            return True
        else:
            return False

def main():
    facts = {}
    facts['iommu_enabled'] = iommu_enabled()
    print(json.dumps(facts, sort_keys=False, indent=4, separators=(',', ' : ')))


if __name__== '__main__':
    main()
